#content {
    max-width: 1600px;
    margin: 0 auto;

}

#content a {
    
    color: white;
}

nav a {
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
    
    
}

#hero_msg h4 {
    text-align: center;
    

}

#memories {
    text-align: center;
}

.button-box {
    text-align: center;
    

}

main section {
    text-align: center;
    

}


body {
    background-color: #264653;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin: 0;
    padding: 0;


}

header {
    ;
}

nav a:hover {
    background-color: aliceblue;
    color: aliceblue;

}

.book {
    background-color: #264653;
    color: #e76f51;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;


}

.join {
    background-color: #e9c46a;
    color: #e76f51;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: aliceblue;
    color: #264653;

}

.join:hover {
    background-color: aliceblue;
    color: #264653;

}

#background {
    background-color: #264653;
    height: 725px;
}

.msg {
    background-color: #264653;
    line-height: 1.5em;
    padding: 35px;

}

footer {
    background-color: #264653;
    color: aliceblue;
    padding: 25px 50px;
    margin-top: 200px;

}

.home-title {
    color: #e76f51;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #e76f51;
    

}

.msg h2 {
    color: #e76f51;


}

.msg p {
    color: #e76f51;
    font-size: .8 em;
    padding-bottom: 15px;

}

footer a {
    color: #e76f51;
    text-decoration: none;

}

footer a:hover {
    color: aliceblue;


}

.icon {
    width: 80px;
    padding-top: 10px;

}

.logo {
    width: 80px;

}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;

}

footer p {
    font-size: 1.2em;
    color: #e76f51;

}

footer p a:hover {
    text-decoration: underline;

}

h2 {
    margin: 0;

}

footer .social img {
    padding-top: 15px;

}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;

}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px;

}

main section img {
    box-sizing:border-box;
}